<h2 class="text-center text-primary py-5">Lista zgłoszeń do akceptacji</h2>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 nestlist-table">


  <ng-container matColumnDef="routeName">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by routeName" class="header">
      Nazwa drogi
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.routeName}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="rockName">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rockName" class="header">
      Nazwa skały
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.rockName}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="regionName">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by regionName" class="header">
      Nazwa regionu
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.regionName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="noticeDescription">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by noticeDescription" class="header">
      Opis zgłoszenia
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.noticeDescription}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button type="button" class="btn btn-primary ml-4" (click)="activatenestnotice(row.id)">
        <i class="fas fa-check-square"></i>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
