<form #editnestForm="ngForm" (ngSubmit)="editNestNotice()" autocomplete="off">
  <h2 class="text-center text-primary">Edytuj zgłoszenie</h2>
  <hr>
  <div class="form-group">
    <input class="form-control" name="routeName" [(ngModel)]="nestnoticeid.routeName">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="rockName" [(ngModel)]="nestnoticeid.rockName" placeholder="Nazwa skały">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="regionName" [(ngModel)]="nestnoticeid.regionName"
      placeholder="Nazwa regionu">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="noticeDescription" [(ngModel)]="nestnoticeid.noticeDescription"
      placeholder="Opis zgłoszenia">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Edytuj zgłoszenie</button>
    <button class="btn btn-default mr-2" type="button" routerLink="/">Anuluj</button>
  </div>
</form>
