<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isOpened = !isOpened">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name"> 🐦{{title}}</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" [(opened)]="isOpened">
    <mat-nav-list>
      <mat-list-item routerLink="/nestlist">
        <i class="fas fa-list-ul m-2"></i>
        Lista zgłoszeń
      </mat-list-item>
      <mat-list-item routerLink="/addingnest">
        <i class="fas fa-egg  m-2"></i>
        Dodaj zgłoszenie
      </mat-list-item>
      <mat-list-item routerLink="/description">
        <i class="fas fa-dove  m-2"></i>
        O projekcie
      </mat-list-item>
      <ng-container *ngIf="adminService.currentAdmin$ |async">
        <mat-list-item routerLink="/notactivenestlist">
          <i class="fas fa-list-ul m-2"></i>
          Zgłoszenia do akceptacji
        </mat-list-item>
        <mat-list-item (click)="logout()">
          <i class="fas fa-sign-out-alt m-2"></i>
          Wyloguj
        </mat-list-item>
      </ng-container>

    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <div class="m-5 main-container">
    <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>
