<form #addingnestForm="ngForm" (ngSubmit)="addnest()" autocomplete="off">
  <h2 class="text-center text-primary">Dodaj zgłoszenie</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" name="routename" [(ngModel)]="nestnotice.routename" placeholder="Nazwa drogi">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="rockname" [(ngModel)]="nestnotice.rockname"
      placeholder="Nazwa skały">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="regionname" [(ngModel)]="nestnotice.regionname"
      placeholder="Nazwa regionu">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="regionname" [(ngModel)]="nestnotice.noticedescription"
      placeholder="Opis zgłoszenia">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Dodaj zgłoszenie</button>
    <button class="btn btn-default mr-2" type="button" routerLink="/">Anuluj</button>
  </div>
</form>
