<div class="container col-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/nestphoto.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
          height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{title}}</h1>
        <p class="lead text-justify">Aplikacja webowa ma umożliwić użytkownikom sprawne dodanie informacji o nowopowstałym ptasim gnieździe w okolicy drogi wpinaczkowej, a także przeglądanie już istniejących zgłoszeń. Użytkownik ma do dyspozycji trzy komponenty: Listę zgłoszeń, Dodaj zgłoszenie, O projekcie. Komponent lista zgłoszeń wyświetla zgłoszenia z bazy danych które zostały zaakceptowane przez administratora. Dodaj zgłoszenie umożliwia użytkownikowi podanie informacji o ptasim gnieździe na drodze wspinaczkowej. </p>
      </div>
    </div>
  </div>
