<h2 class="text-center text-primary">Lista zgłoszeń</h2>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

 
  <ng-container matColumnDef="routeName">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by routeName">
      Nazwa drogi
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.routeName}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="rockName">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rockName">
      Nazwa skały
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.rockName}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="regionName">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by regionName">
      Nazwa regionu
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.regionName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="noticeDescription">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by noticeDescription">
      Opis zgłoszenia
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.noticeDescription}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button type="button" class="btn btn-primary" routerLink='editnestnotice/{{row.id}}'>
        Edytuj
      </button>
      <button type="button" class="btn btn-primary" (click)="deleteNestNotice(row.id)">
        Usuń
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
</mat-table>
